.page{
	// position: absolute;
	// left: 0;
	// top: 0;
	// width: 100%;
	// height: 100%;
	// overflow-x: hidden;
	// overflow-y: auto;
	padding-bottom: 100rpx;
	background-color: #eb3e24;
}
.clearheight10{
	clear: both;
	width: 100%;
	height: 20rpx;
}

/* 为你推荐 */
.recommend-info{
	width: 100%;
	.recommend-title{
		width: 100%;
		position: relative;
		image{
			width: 100%;
		}
		.poanum{
			position: absolute;
			width: 100%;
			height: 80rpx;
			line-height: 80rpx;
			text-align: center;
			color: #ea0603;
			font-size: 60rpx;
			z-index: 1;
			top: 255rpx;
			left: 0;
			right: 0;
		}
	}
	.goods-list{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		padding: 0 30rpx;
		.list{
			width: 49%;
			height: 640rpx;
			margin-bottom: 20rpx;
			background-color: #FFFFFF;
			border-radius: 10rpx;
			overflow: hidden;
			.pictrue{
				display: flex;
				justify-content: center;
				width: 100%;
				image{
					height: 350rpx;
				}
			}
			.title-tag{
				// display: flex;
				height: 100rpx;
				padding: 20rpx;
				.tag{
					float: left;
					margin-right: 10rpx;
					overflow: hidden;
					text-overflow: ellipsis;
					display: -webkit-box;
					-webkit-line-clamp: 2;
					-webkit-box-orient: vertical;
					white-space: normal;
					font-size: 32rpx;
					line-height: 40rpx;
					color: #11293c;
					font-weight: bold;
					text{
						font-size: 24rpx;
						color: #FFFFFF;
						padding: 4rpx 16rpx;
						background: linear-gradient(to right,$base,$change-clor);
						border-radius: 6rpx;
						margin-right: 10rpx;
					}
				}
			}
			.price-info{
				display: flex;
				flex-wrap: wrap;
				align-items: center;
				justify-content: space-between;
				padding: 0 20rpx;
				height: 80rpx;
				.user-price{
					display: flex;
					align-items: center;
					text{
						font-weight: bold;
						color: $price-clor;
					}
					.jifen{
						font-size: 32rpx;
					}
					.min{
						font-size: 24rpx;
					}
					.max{
						font-size: 26rpx;
					}
				}
				.user-price2{
					display: flex;
					align-items: center;
					text{
						color: $price-clor;
					}
					.jifen{
						font-size: 38rpx;
					}
					.min{
						font-size: 24rpx;
					}
					.max{
						font-size: 24rpx;
					}
				}
				.vip-price{
					display: flex;
					align-items: center;
					image{
						width: 26rpx;
						height: 26rpx;
						margin-right: 10rpx;
					}
					text{
						color: #fcb735;
						font-size: 24rpx;
					}
				}
				.del-price{
					display: flex;
					align-items: center;
					image{
						width: 26rpx;
						height: 26rpx;
						margin-right: 10rpx;
					}
					text{
						color: #666666;
						font-size: 24rpx;
						text-decoration: line-through;
					}
				}
			}
			.button-rem{
				width: 90%;
				height: 64rpx;
				border-radius: 16rpx;
				text-align: center;
				line-height: 64rpx;
				margin:30rpx auto 0;
				color: white;
				background: linear-gradient(to right, rgb(255, 36, 0), rgb(254, 160, 5));
				border: 0px;
			}
		}
	}
}